.insta{
    background: #FFF;;
}

.pink1{
    width: 130px;
height: 210px;
flex-shrink: 0;
    border-radius: 200px 200px 0px 0px;
background: rgba(167, 33, 98, 0.15);
}
.pink2{ text-decoration: underline;

}  

.mix1{
    width: 137px;
    height: 170px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.mix2{text-decoration: underline;

}

.yellow1{
    width: 144px;
    border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
}
.yellow2{text-decoration: underline;

}